<%- include("layouts/header") -%>

<%- include("partials/greet", { username : username }) -%>

<div class="container">
    <%- include("partials/otherTaskClaimed", {tasks: tasks}) -%>
    <%- include("partials/otherTaskCompleted", {tasks: tasks}) -%>
    <%- include("partials/myCompletedTask", {tasks: tasks}) -%>
    <%- include("partials/myClaimedTask", {tasks: tasks}) -%>
    <%- include("partials/claimTask", {tasks: tasks}) -%>
    <%- include("partials/addNewTask") -%>
</div>

<%- include("layouts/footer") -%>